
@import url('./Assets/fonts/css/aktura.css');

h1, h2, h3{
    color: #CDCDCD;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #202020;

}

ul li {
    display: inline-flex;
    padding: 22px;
}

i {
    font-size: 35px;
    color: #ffffff;
}

hr {
    border: 1px solid gray;
}


