.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Aktura-Regular';
    letter-spacing: 5px;

}